body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    h1{
        text-decoration: underline;
    }

    p{
        font-weight: 800;
    }    

    img{
        width: 1024px;
    }
}



